{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<h1 class="text-center">{{ _('Ciência e Tecnologia - Fontes') }}</h1><br>
<div class="row">
  <div class="col-md-12">
    {% for source in sources %}
      <hr>{% include '_source.html' %}<hr><br>
    {% endfor%}
  </div>
</div>
{% endblock %}
