{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

  <div class="row">
    <div class="col-md-12 text-justify">
      <h1 class="text-center">{{_('Sobre')}}</h1><br><br>
      <h2>Dados Livres</h2>
      <h3>Plataforma livre de dados abertos</h3><br>
      <p>O Dados Livres é uma plataforma software livre, sem fins 
        lucrativos, que visa catalogar fontes de dados abertos e 
        aplicações cívicas por meio de colaboração coletiva, 
        lançado em novembro de 2019 na sua versão beta.
      </p>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/49zMjX-RZxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div><br><br>
  <div class="row">
    <div class="col-md-12 text-justify">
      <p>Principais tópicos:</p>
      <ul>
        <li><p><a href="{{ url_for('main.contact') }}" id="color-red">entre em contato conosco</a></p></li>
        <li><p><a href="https://t.me/dadoslivres" id="color-red" target="_blank">entre para a comunidade</a></p></li>
        <li><p><a href="{{ url_for('main.how_to_contribute') }}" id="color-red">contribua com o projeto</a></p></li>
        <li><p><a href="{{ url_for('main.common_questions') }}" id="color-red">perguntas frequentes</a></p></li>
      </ul>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-12 text-justify">
      <h3>Como surgiu e por quem?</h3><br>
      <p>A ideia de desenvolver o Dados Livres surgiu em 2018, visando criar um 
        ambiente que facilitasse a visualização das informações e tecnologias 
        que usam os dados abertos e que, conjuntamente, virasse um lugar colaborativo. 
      </p>  
      <p>O Dados Livres foi originalmente produzido no <a href="https://portal.ifrn.edu.br/" 
        id="color-red" target="_blank">IFRN</a>, em um projeto de pesquisa, desenvolvido pela 
        <a href="https://mariacarolinass.github.io/carolinasoares/" id="color-red" target="_blank">Carolina Soares</a> 
        e orientado pelo <a href="https://www.pbaesse.net/" id="color-red" target="_blank">Pedro Baesse</a>.
      </p>
      <p>Saiba mais:</p>
      <ul>
        <li><p><a href="{{ url_for('main.about_us_and_contributors') }}" id="color-red">
          fundadores e colaboradores</a></p></li>
      </ul>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-12 text-justify">
      <h3>Tecnologias do projeto</h3><br>
      <p>O Dados Livres usa no desenvolvido do sistema a linguagem de programação 
        <a href="https://www.python.org/" id="color-red" target="_blank">Python</a> com 
        a <a href="https://flask.palletsprojects.com/en/2.1.x/" id="color-red" target="_blank">
        Microframework web Flask</a> que fazem parte do Back-end do sistema (não visível ao 
        usuário). Além disso, o projeto utiliza as tecnologias web HTML5, CSS3, JavaScript 
        e o framework Bootstrap para a construção do Front-end (parte que o usuário visualiza 
        e interage com a plataforma).</p><br>
      <h3>Alguns diferenciais</h3><br>
      <p>Um diferencial do Dados Livres é a facilidade de cadastro, pois são os 
        próprios usuários da plataforma que cadastram as fontes de dados abertos 
        e as aplicações cívicas, sem haver necessidade de codificação. Essas fontes 
        e aplicações facilitam o trabalho de jornalistas, desenvolvedores e cidadãos 
        ao simplificar a descoberta, a colaboração ou uso dos dados abertos. 
        Outro diferencial significativo, é a conexão das fontes de dados abertos 
        com as aplicações cívicas. Ao clicar em alguma fonte cadastrada na plataforma será
        exibido o perfil da respectiva fonte, nessa página o usuário pode saber quais
        as aplicações cívicas foram desenvolvidas utilizando essa fonte e vice-versa.
      </p>
      <p>É esperado que o Dados Livres possa criar um ambiente que facilite a
        participação da população no controle social e difusão dos dados abertos
        para os mais diversos fins.</p><br>
      <h3>Aonde o Dados Livres esteve</h3><br>
      <p><a href="https://ethercalc.net/pwf01es2mcrt.html" id="color-red" target="_blank">
        Eventos que o projeto participou</a>.</p><br>
      <h3>Assista</h3><br>
      <p>Entenda a <a href="https://youtu.be/vDrrC0i0MII?t=10883" id="color-red" target="_blank">
        importância dos dados abertos governamentais e seus aplicativos resultantes</a>.</p>
      </div>
  </div><br>
  <div class="row">
    <div class="col-md-12">
      <h3>Todos juntos pelo conhecimento livre e programação cívica</h3>
    </div>
    <div class="col-md-2"></div>
    <div class="col-sm-6 col-md-4"><br><br><br>
      <div style="width:350px; display: block; margin: 0 auto; border: 0; text-align: center">
        <img src="static/image/Logo-Dados-Livres2.png" alt="Logo do Dados Livres" style="width:50%"><br><br>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-sm-6 col-md-4"><br><br><br>
      <div style="width:350px; display: block; margin: 0 auto; border: 0; text-align: center">
        <img src="static/image/logo-ifrn-cm.png.png" alt="Logo do IFRN" style="width:50%"><br><br>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div><br><br>
{% endblock %}