{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

  <h1 class="text-center">{{_('Contato')}}</h1><br>

  <h4 class="text-center">
    {{_('Mande uma mensagem no nosso <a href="https://t.me/dadoslivres" id="color-red" target="_blank">
      grupo do Telegram</a> ou escreva um <a href="mailto:mcarolinasoares0@gmail.com" id="color-red" 
      target="_blank">E-mail</a>.')}}
  </h4><br><br>

{% endblock %}
