{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

	<div class="jumbotron">
		<h1 class="text-center">{{ _('Dados Livres') }}</h1><br>
		<h4 class="text-center">{{ _('Plataforma livre que permite a catalogação
			de fontes de dados abertos e aplicações cívicas por meio de colaboração
			coletiva.') }}
		</h4>
	</div><br>
	
	<div class="row">
		<h2 class="text-center">{{_('Encontre as principais categorias de fontes de dados abertos')}}</h2><br>
		<div class="col-md-12">{{ wtf.quick_form(form) }}<br><br></div>
		<div class="col-sm-4 col-md-4">
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.cinema_source') }}" id="category-link">{{_('Cinema')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.culture_source') }}" id="category-link">{{_('Cultura')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.economy_finance_source') }}" id="category-link">{{_('Economia e Finanças')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.geography_source') }}" id="category-link">{{_('Geografia')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.health_source') }}" id="category-link">{{_('Saúde')}}</a></h4>
		</div>
		<div class="col-sm-4 col-md-4">
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.science_technology_source') }}" id="category-link">{{_('Ciência e Tecnologia')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.covid19_source') }}" id="category-link">{{_('Covid-19')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.statistics_source') }}" id="category-link">{{_('Estatística')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.environment_source') }}" id="category-link">{{_('Meio Ambiente')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.public_safety_source') }}" id="category-link">{{_('Segurança Pública')}}</a></h4>
		</div>
		<div class="col-sm-4 col-md-4">
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.climate_source') }}" id="category-link">{{_('Clima')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.education_source') }}" id="category-link">{{_('Educação')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.sports_leisure_source') }}" id="category-link">{{_('Esporte e Lazer')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.oil_gas_source') }}" id="category-link">{{_('Petróleo e Gás')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.transportation_source') }}" id="category-link">{{_('Transporte')}}</a></h4>
		</div>
	</div><br><br>

	<div class="row">
		<h2 class="text-center">{{_('Fontes registradas recentemente')}}</h2><br>
		<div class="col-sm-3 col-md-4"></div>
		<div class="col-sm-6 col-md-6">
			{% for source in sources %}
				<h4><a href="{{ url_for('main.source_profile', title=source.title) }}"
					id="color-red">{{ source.title }}</a>
				</h4><p>{{_('Categoria')}}: {{ source.category }}</p><br>
			{% endfor%}
		</div>
		<div class="col-sm-3 col-md-4"></div>
	</div><br>

	<div class="row">
		<h2 class="text-center">{{_('Aplicações registradas recentemente')}}</h2><br>
		<div class="col-sm-3 col-md-4"></div>
		<div class="col-sm-6 col-md-6">
			{% for software in softwares %}
				<h4><a href="{{ url_for('main.software_profile', title=software.title) }}"
					id="color-red">{{ software.title }}</a></h4>
					<p>{{_('Categoria')}}: {{ software.category }}</p><br>
			{% endfor%}
		</div>
		<div class="col-sm-3 col-md-4"></div>
	</div>

{% endblock %}
